<h1>Benvenuto su Auction House</h1>
<h5>Qui puoi caricare, e compare le variazioni di prezzo delle varie carte Pokemon. E già predisposto un piccolo Database , con le principali carte e i relativi prezzi
  ma e disponibile la funzione per inserire le carte di proprio interesse ed effettuare la comparazione.
  Ti basta aggiungere n+ carte e selezionare da quale periodo di inizio e fine effettuare la comparazione.
  Maggiore sara il numero di record inseriti, maggiore sara la precisione di analisi e calcolo del software.
  Puoi inserire ed effettuare le ricerche tramite il menu qui in alto.
</h5>
